{% extends "layout.html" %}

{% block content %}
    <!-- <script>
        var dbStatsData = {{ dbStats|tojson }};
        var pieChartData = {{ pieChartData|tojson }};
	</script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/test.css') }}"/>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="{{ url_for('static',filename='script/testScript.js') }}"></script>
    <script src="{{ url_for('static',filename='script/testScript2.js') }}"></script>
    
    <div id="pieChart-container">
        <div id="pieChartdiv"></div>
    </div>
    
    <div id="xyChart"></div> -->
    ABOUT CONTENT
{% endblock %}