{% extends "layout.html" %}

{% block content %}
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}"/>
    <!-- <canvas class="analyze-graph" id="testCanvas" width="1500" height="900"></canvas> -->
    <!--<img class="analyze-img" src="{{ graphData.img }}">-->
    <div class="analyze-product-title">
		{{ graphData.title }}
    </div>
	<div class="analyze-content-container">
		<div class="analyze-product-description">
			<table class="analyze-product-description-table">
				{% for item in graphData.descriptiveTableData %}
					<tr>
						<td class="analyze-product-description-title">{{ item.title }}</td>
						<td  class="analyze-product-description-item">
						{{ item.value }}
						</td>
						
						{% if item.title == "Brand Name" %}
							<td rowspan="6" class="analyze-product-description-item">
								<a href="{{ graphData.descriptiveTableData[0].link }}">
									<img class="analyze-img" src="{{ graphData.img }}">
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
	<canvas class="analyze-graph" id="testCanvas" width="1500vh" height="900vh"></canvas>
	
    
    <div id="tableContainer" class="tableContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable">
			<thead class="fixedHeader">
				<tr>
					<th>Date</th>
					<th>Price</th>
					<th>Comparative unit price</th>
					<th>Availability</th>
				</tr>
			</thead>
			<tbody class="scrollContent">
			{% for item in graphData.tableData %}
				<tr>
					<td {% if item.highlight %} class="highlight-{{ item.highlight }}" {% endif %}>{{ item.date }}</td>
					<td {% if item.highlight %} class="highlight-{{ item.highlight }}" {% endif %}>{{ item.price }}</td>
					<td {% if item.highlight %} class="highlight-{{ item.highlight }}" {% endif %}>{{ item.comparative_unit_price }}</td>
					<td {% if item.highlight %} class="highlight-{{ item.highlight }}" {% endif %}>{{ item.active }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


    <script src="{{ url_for('static',filename='script/graph.js') }}"></script>
    
    <script>
		var graphData = {{ graphData|tojson }};
	</script>
	<script src="{{ url_for('static',filename='script/analyze.js') }}"></script>
        
        
	
	<div class="nTable-wrapper">
        <div class="nTable-headers">
			<li class="nTable-header nTable-cell-width">Date
			<li class="nTable-header nTable-cell-width">Price
			<li class="nTable-header nTable-cell-width">Unit price
			<li class="nTable-header nTable-cell-width">Availability
        </div>
        <table class="nTable-table">
		{% for item in graphData.tableData %}
			<tr>
				<td class="highlight-{% if item.highlight %}{{ item.highlight }} {% endif %} nTable-cell-decor nTable-cell-width" >{{ item.date }}</td>
				<td class="highlight-{% if item.highlight %}{{ item.highlight }} {% endif %} nTable-cell-decor nTable-cell-width" >{{ item.price }}</td>
				<td class="highlight-{% if item.highlight %}{{ item.highlight }} {% endif %} nTable-cell-decor nTable-cell-width" >{{ item.comparative_unit_price }}</td>
				<td class="highlight-{% if item.highlight %}{{ item.highlight }} {% endif %} nTable-cell-decor nTable-cell-width" >{{ item.active }}</td>
			</tr>
		{% endfor %}
        </table>
    </div>
    
{% endblock %}