<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
    <title>BB Analyzer</title>
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static',filename='images/favicon.ico') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron&family=Sunflower:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    {% if (products != 1) %}
    <div class="banner">
        <img class="banner-img" src="{{ url_for('static',filename='images/logo-banner.png') }}">
    </div>
    {% endif %}

    {% include "includes/nav.html" %}
    
    <div class="page-content">
    {% block content %}

    {% endblock %}
    </div>

    {% include "includes/footer.html" %}
</body>
</html>