{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}"/>
    
    {% for msgLine in formData.userMessages %}
        <p class="clr-yellow">{{ msgLine }}</p>
    {% endfor %}

    <form action="{{ url_for('passwordReset') }}" method="POST" />
        <div class="container">
            {% if formData.renderType == 'submitSendEmail' %}
                <div>
                    <label  for="submitEmail"><b>Email</b></label>
                    <input id="submitEmail"  type="text" placeholder="Enter your email address" name="submitEmail" required>
                </div>

                <div class="button-container">
                    <button type="submit" name="submitSendEmail" value="true">Send Password Reset Email</button>
                </div>
            {% endif %}

            {% if formData.renderType == 'submitNewPassword' %}
                <div>
                    <label  for="new_pwd1"><b>New Password</b></label>
                    <input id="new_pwd1"  type="password" placeholder="Enter New Password" name="new_pwd1" required>
                </div>
                <div>
                    <label  for="new_pwd2"><b>New Password Repeat</b></label>
                    <input id="new_pwd2"  type="password" placeholder="Enter New Password" name="new_pwd2" required>
                </div>

                <div class="button-container">
                    <button type="submit" name="submitNewPassword" value="true">Set New Password</button>
                </div>
                
                <div style="display:none;">
                    <input id="formToken"  type="password" name="formToken" value="{{ formData.formToken }}" required>
                </div>
            {% endif %}

            
            
        </div>
    </form>
{% endblock %}