{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}"/>
    
    {% for errorLine in errorMessages %}
        <p class="clr-yellow">{{ errorLine }}</p>
    {% endfor %}

    <form action="{{ url_for('updatePassword') }}" method="POST" />
        <div class="container">
            <div >
                <label  for="current_pwd"><b>Current Password</b></label>
                <input id="current_pwd"  type="password" placeholder="Enter Current Password" name="current_pwd" required>
            </div>
            <div >
                <label  for="new_pwd1"><b>New Password</b></label>
                <input id="new_pwd1"  type="password" placeholder="Enter New Password" name="new_pwd1" required>
            </div>
            <div >
                <label  for="new_pwd2"><b>New Password Repeat</b></label>
                <input id="new_pwd2"  type="password" placeholder="Enter New Password" name="new_pwd2" required>
            </div>
            
            <div class="button-container">
                <button type="submit" name="execute" value="true">Change Password</button>
            </div>
            
        </div>
    </form>
{% endblock %}