.index-table{
    color:rgba(255, 255, 255, 0.397);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid white;
}
th.index-table-H1-cell{
    border-top: 1px solid white;
    color:rgba(255, 255, 0, 0.582);
    font-size:0.7cm;
    font-size:1.7vw;
}
th.index-table-H2-cell-left{
    font-size: 0.6cm;
    font-size: 1.3vw;
    color:rgba(0, 255, 64, 0.582);
}
th.index-table-H2-cell-right{
    font-size: 0.6cm;
    font-size: 1.3vw;
    color:rgba(255, 0, 0, 0.582);
}
th.index-table-H3-cell{
    font-size: 0.5cm;
    font-size: 1.1vw;
    border-bottom: 1px solid white;
    color:rgba(0, 255, 234, 0.582);
}
.index-table-empty{
    width:5%;
}
.index-table-empty-vertical{
    height:20px;
}
.index-table-data-cell.allignLeft{
    text-align: left;
}
.index-table-data-cell{
    text-align: center;
    font-size: 0.45cm;
    font-size: 0.9vw;
    color:rgba(255, 255, 255, 0.5);
}
.index-barboraLink{
    background: linear-gradient(to right, white,red);
    font-style: bold;
    color:red;
}

#graph-title{
    
    font-size: 1.5vw;
    color:white;
    color:rgba(255, 255, 255, 0.5);
}
@media (max-width: 500px) {
    #graph-title{
        font-size: 5vw;
    }
}
#content-wrapper{
    padding-top: 0.3vw;
    height: 500px;
    width: 90%;
    margin:auto;
    overflow: auto;
}
@media (max-width: 500px) {
    #graph-title{
        font-size: 5vw;
    }
    #content-wrapper{
        height: 300px;
    }
}
#graphDescription{
    color:rgba(255, 255, 255, 0.5);
}

/* #anyCharts{
    padding-left: 10%;
    width:80%
} */
#container{
    display: inline-block;
    width:49vw;
    height:30vw;
}
#container2{
    display: inline-block;
    width:49vw;
    height:30vw;
    /* height:500px; */

}
.anychart-credits{
    display:none;
}