/* Terence Ordona, portal[AT]imaputz[DOT]com         */
/* http://creativecommons.org/licenses/by-sa/2.0/    */

/* begin some basic styling here                     */

/* Analyze */
.analyze-product-title{
	color:rgba(255, 255, 255, 0.685);
	font-size: 2vw;
}
.plus-sign-pic{
	position: relative;
	top:5px;
	max-width:100%;
	height:40px;
	opacity: 0.5;
}
.sign-active{
	opacity:1;
	cursor: pointer;
}
.analyze-content-container{
	position:relative;
	/* background-color: rgb(66, 85, 85); */
}

.analyze-graph{
    width: 80vh;
	width: 49%;
    display: flex;
	float: left;
	/* margin-left: 5%; */
}
@media (max-width: 500px) {
	.analyze-graph{
		width: 100%;
	}
}



.analyze-product-description-table{
	width: 70%;
	margin-left: 15%;
	margin:auto;
	/* border-style: solid;
    border-color: aliceblue;
    border-width: 1px; */
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	font: normal normal 2vw Verdana, Geneva, Arial, Helvetica, sans-serif;
	/* position:relative; */
	/* left:20px; */
}
.analyze-product-description-title{
	font-size: medium;
	font-size: 0.8vw;
	text-align: right;
}
.analyze-product-description-item{
	color:rgba(255, 255, 255, 0.685);
	text-align: left;
	font-size: large;
	font-size: 1vw;
}
.analyze-product-description-table a{
	text-decoration: none;
	color:rgba(255, 255, 255, 0.685);
}
img.analyze-img{
	max-width: 20vw;
	max-height: 20vw;
}


/* .indicator{
	color:rgb(195,195,195);
	
	font-family: Arial, sans-serif;
	z-index:100;
	background-color:rgb(46,46,46);
 }
 #XLine{
	 
	 border-style:solid;
	 border-color:rgb(195,195,195);
	 border-width: 1px;
 }
 #YLine{
	 
	 border-style:solid;
	 border-color:rgb(195,195,195);
	 border-width: 1px;
 }
 .hidden{
	 display:none; 
 }
 .visible{
	 display:block; 
	 position:fixed;
	 overflow:hidden;
 } */








 div.tableContainer {
	position:relative;
	margin-left:auto; 
    margin-right:auto;
	border: 1px solid rgb(43, 73, 53);
	height: 418px;
	height: 21.771vw;
	height: 27.271vw;
	overflow: auto;
	width: 756px;
	width: 39.375vw;
}
html>body tbody.scrollContent {
	display: block;
	height: 395px;
	height: 20.573vw;
	height: 26.073vw;
	overflow: auto;
	width: 100%
}

.nTable-wrapper{
	display:none;
    text-align: center;
    border: 1px solid rgb(43, 73, 53);
    color: rgba(255, 255, 255, 0.685);
    max-height: 300px;
    position: relative;
    margin: auto;
    overflow:auto;
}
.nTable-headers{
    margin: 0;
    position: sticky;
    top:0;
    background: rgb(38, 100, 59);
}
.nTable-header{
    border: 1px solid rgb(0,0,0);
    display: inline-block;
    margin: 0px;
}
.nTable-table{
    margin:auto;
    width: inherit;
    
}
.nTable-cell-decor{
    border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
    border: 1px solid #CCC;
    margin: 0px;
    font-size: 3.5vw;
}

.nTable-cell-width{
    width: 24%;
}

@media (max-width: 500px) {
	.nTable-wrapper{
		display: block;
	}
	div.tableContainer{
		display: none;
	}
	.analyze-product-description-title{
		font-size: 0.8vw;
		font-size: 0.3cm;
		font-size: 150%;
	}
	.analyze-product-description-item{
		font-size: 1vw;
		font-size: 0.5cm;
		font-size: 220%;
	}
	img.analyze-img{
		max-width: 5cm;
		max-height: 5cm;
	}
	.analyze-product-title{
		font-size: 1cm;
		font-size: 180%;
	}
}






table, td {
	color: rgba(255, 255, 255, 0.685);
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	font: normal normal 0.625vw Verdana, Geneva, Arial, Helvetica, sans-serif;
}
td.highlight-max{
	color:rgb(253, 253, 168);
}
td.highlight-min{
	color:rgb(162, 162, 231);
}
/* end basic styling                                 */

/* define height and width of scrollable area. Add 16px to width for scrollbar          */


/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: hidden;
	width: 756px;
	width: 39.375vw;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 740px;
	width: 38.542vw;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
	width: 756px;
	width: 39.375vw;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: rgb(43, 73, 53);
	border-left: 1px solid rgb(43, 73, 53);
	border-right: 1px solid rgb(43, 73, 53);
	border-top: 1px solid rgb(43, 73, 53);
	font-weight: normal;
	padding: 4px 3px;
	padding: 0.208vw 0.156vw;
	text-align: left;
}



/* make the A elements pretty. makes for nice clickable headers                */
/* thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited { */
thead.fixedHeader , thead.fixedHeader , thead.fixedHeader  {
	color: rgba(255, 255, 255, 0.739);
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader  {
	color: rgba(255, 255, 255, 0.746);
	display: block;
	text-decoration: none;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
/* html>body tbody.scrollContent {
	display: block;
	height: 395px;
	height: 20.573vw;
	overflow: auto;
	width: 100%
} */

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	/* background: rgba(255, 255, 255, 0.685); */
	/* background: rgb(49, 48, 48); */
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	padding: 0.104vw 0.156vw 0.156vw 0.208vw;
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	padding: 0.104vw 0.156vw 0.156vw 0.208vw;
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 200px;
	width: 10.417vw;
}

html>body thead.fixedHeader th + th {
	width: 240px;
	width: 12.500vw;
}

html>body thead.fixedHeader th + th + th {
	width: 316px;
	width: 16.458vw;
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 200px;
	width: 10.417vw;
}

html>body tbody.scrollContent td + td {
	width: 240px;
	width: 12.500vw;
}

html>body tbody.scrollContent td + td + td {
	width: 300px;
	width: 15.625vw;
}