<!-- <a href="https://www.freepnglogos.com/pics/robot">Robot from freepnglogos.com</a> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/nav.css') }}"/>
<header>
    
    
    <nav class="primary-nav">
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link {% if activePage.link == 'index' %}active{% endif %}">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('products') }}" class="nav-link {% if activePage.link == 'products' %}active{% endif %}">Products</a></li>
        <li class="nav-item"><a href="/api" class="nav-link">API</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link {% if activePage.link == 'about' %}active{% endif %}">About</a></li>
        
        <li class="nav-item"><a href="{{ url_for('profile') }}" class="nav-link {% if activePage.link == 'profile' %}active{% endif %}">Profile</a></li>
        
    </nav>
    
    <div class="topnav">
      {% if activePage.link and activePage.label %}
        <a href="{{ url_for(activePage.link) }}" >🤖{{ activePage.label }}</a>
      {% else %}
        <a href="{{ url_for('index') }}" >🤖Home</a>
      {% endif %}
      
      <!-- <a>🤖{{ activePage.label }}</a> -->
      
      <div id="myLinks">
        {% if activePage.label != 'Home' %}
          <a href="{{ url_for('index') }}">Home</a>
        {% endif %}
        {% if activePage.label != 'Products' %}
          <a href="{{ url_for('products') }}">Products</a>
        {% endif %}
        <a href="/api">API</a>
        {% if activePage.label != 'About' %}
          <a href="{{ url_for('about') }}">About</a>
        {% endif %}
        
        
        {% if activePage.label != 'Profile' %}
          <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
        
      </div>
      <a href="javascript:void(0);" class="icon" onclick="expandMenu('myLinks')">
        <i class="fa fa-bars"></i>
      </a>
    </div>
</header>

<script>
    function expandMenu(id) {
        var x = document.getElementById(id);
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
          x.style.background = "rgb(43, 73, 53)"
        }
      }
</script>